# .flake8 - Configuración personalizada de estilo de código para c4a-alerts

[flake8]
max-line-length = 150
exclude = 
    .git,
    __pycache__,
    tests/,
    .github/,
    *.pyc,
    .venv/,
    env/,
    venv/
ignore = 
    E203, 
    W503,
    W293,
    C901

max-complexity = 15
statistics = True
